@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Gradient Spinner CSS */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gradient-spinner {
  border: 8px solid transparent; /* Border width and color */
  border-radius: 50%; /* Make the border circular */
  border-top: 8px solid; /* Top border color */
  border-image: linear-gradient(45deg, #ff007f, #ffb600, #00b4d8, #4f7a89); /* Gradient */
  border-image-slice: 1; /* Ensure gradient is applied correctly */
  width: 80px; /* Spinner diameter */
  height: 80px; /* Spinner diameter */
  animation: spin 1s linear infinite; /* Spin animation */
}